---
import "../../css/variables.module.css";
import Carrousel from "../Carrousel/Carrousel.astro";
---

<section>
  <div class="project__titleSection">
    <h2 >Mis proyectos</h2>
  </div>
  <Carrousel/>
</section>

<style>
 
  .project__titleSection {
    grid-column: span 2;
  }
  .project__titleSection h2 {
    font-size: var(--fontSize-3);
    background-image: var(--gradient-2);
    display: inline-block;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
</style>
