---
import "../../css/variables.module.css";
---

<div class='hero'>
  <div class='container'>
    <span class='hero__hi'>Hola a todos! 👋🏼</span>
    <h1>
      <span class='hero__im'>Soy</span><br /><span class='hero__development'
        >Fernando Moyano</span
      >
    </h1>

    <p class='hero__description'>
      <span class='hero__im'>Desarrollador Web Full Stack</span> apasionado por la
      tecnologia, instructor<br /> y creador de contenido.
    </p>
    <svg class="hero-bg hero-bg-1" width="500" height="889" viewBox="0 0 548 889" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g opacity="0.15" filter="url(#filter0_f_42_1702)">
      <ellipse cx="41.5" cy="392.5" rx="256.5" ry="246.5" fill="url(#paint0_linear_42_1702)"/>
      </g>
      <defs>
      <filter id="filter0_f_42_1702" x="-465" y="-104" width="1013" height="993" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix"/>
      <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
      <feGaussianBlur stdDeviation="125" result="effect1_foregroundBlur_42_1702"/>
      </filter>
      <linearGradient id="paint0_linear_42_1702" x1="-184.673" y1="639" x2="359.387" y2="561.359" gradientUnits="userSpaceOnUse">
      <stop stop-color="#0EA5EA"/>
      <stop offset="1" stop-color="#0BD1D1"/>
      </linearGradient>
      </defs>
    </svg>

      <svg class="hero-bg hero-bg-2" width="500" height="500" viewBox="0 0 824 811" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g opacity="0.3" filter="url(#filter0_f_42_1701)">
        <ellipse cx="412" cy="405.5" rx="162" ry="155.5" fill="url(#paint0_linear_42_1701)"/>
        </g>
        <defs>
        <filter id="filter0_f_42_1701" x="0" y="0" width="824" height="811" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feGaussianBlur stdDeviation="125" result="effect1_foregroundBlur_42_1701"/>
        </filter>
        <linearGradient id="paint0_linear_42_1701" x1="269.154" y1="561" x2="612.754" y2="511.908" gradientUnits="userSpaceOnUse">
        <stop stop-color="#0EA5EA"/>
        <stop offset="1" stop-color="#0BD1D1"/>
        </linearGradient>
        </defs>
      </svg>
  </div>  
</div>

<style>
    .hero-bg {
      width: 300px;
      height: ;
      display: block;
      position: absolute;
      pointer-events: none;
    }

    .hero-bg-1 {
      top: 10px;
      left: 0;
    }

    .hero-bg-2 {
      bottom: -800px;
      right: 20px;
    }

  .container {
    width: 380px;
  }
  .hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero__title {
    font-size: var(--fontSize-5);
    font-weight: var(--weight-extraBold);
    color: var(--text-white);
  }

  .hero__development {
    font-size: var(--fontSize-10);
    background-image: var(--gradient-1);
    display: inline-block;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

  .hero__hi {
    color: var(--text-columbia-blue);
  }
  .hero__im {
    color: var(--text-columbia-blue);
    font-size: var(--fontSize-8);
  }

  .hero__description {
    color: var(--text-shadow-blue);
    font-size: var(--fontSize-9);
    line-height: var(--lineHeight-3);
  }

  @media screen and (min-width: 575px) {
    .container {
      width: var(--width-575);
    }
    .hero-bg {
      width: 500px;
      display: block;
      position: absolute;
      pointer-events: none;
    }

    .hero-bg-1 {
      top: 80px;
      left: 0;
    }

    .hero-bg-2 {
      bottom: -550px;
      right: 220px;
    }
  }

  @media screen and (min-width: 768px) {
    :root {
      --fontSize-10: 3.2rem;
      --fontSize-9: 1.3rem;
      --fontSize-3: 2rem;
    }
    .container {
      width: var(--width-768);
    }
    .hero__development {
      font-size: var(--fontSize-10);
    }
  }

  @media screen and (min-width: 1200px) {
    .container {
      width: var(--width-1200);
    }
  }
</style>
