---
import "../../css/variables.module.css";
---

<div class='hero'>
  <div class='container'>
    <h1>
      <span class='hero__im'>Soy</span><br /><span class='hero__development'
        >Fernando Moyano</span
      >
    </h1>

    <span class='hero__hi'>Hola a todos! 👋🏼</span>
    <p class='hero__description'>
      <span class='hero__im'>Desarrollador Web Full Stack</span> apasionado por la
      tecnologia,<br> instructor y creador de contenido.
    </p>
  </div>
</div>

<style>
  .hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero__title {
    font-size: var(--fontSize-1);
    font-weight: var(--weight-extraBold);
    color: var(--text-white);
  }

  .hero__development {
    font-size: var(--fontSize-1);
    background-image: var(--gradient-1);
    display: inline-block;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

  .hero__hi {
    color: var( --text-columbia-blue);
  }
  .hero__im {
    color: var( --text-columbia-blue);
  }

  .hero__description {
    color: var(--text-shadow-blue);
    font-size: var(--fontSize-6);
    line-height: var(--lineHeight-3);
  }
  .container {
    width: 380px;
  }

  @media screen and (min-width: 768px) {
    .container {
      width: var(--width-768);
    }
  }

  @media screen and (min-width: 1200px) {
    .container {
      width: var(--width-1200);
    }
  }
</style>