---
import "../../css/variables.module.css";
---

<section class='cards container'>
  <!-- <h2 class='cards__title'>Recursos</h2> -->
  <article class='tour'>
    <div>
      <svg width="40px" height="50px" viewBox="0 0 1024 1024" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="#000000">
        <g id="SVGRepo_bgCarrier" stroke-width="0"/>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
        <g id="SVGRepo_iconCarrier">
        <path d="M819.2 87.04c-57.6 8.96-47.36 71.68-47.36 71.68v80.64h25.6c48.64 0 75.52-28.16 75.52-78.08-1.28-40.96-19.2-66.56-53.76-74.24z" fill="#bf4080"/>
        <path d="M691.2 896c-49.92 0-64-33.28-64-76.8s12.8-75.52 62.72-75.52L243.2 742.4V179.2c0-49.92 14.08-89.6 64-89.6l523.52 1.28c-74.24 0-62.72 71.68-62.72 71.68V806.4c0 49.92-14.08 89.6-64 89.6h-12.8z" fill="#bf4080"/>
        <path d="M691.2 896c-49.92 0-64-33.28-64-76.8s12.8-75.52 62.72-75.52L217.6 742.4c-49.92 0-64 26.88-64 76.8s14.08 76.8 64 76.8h473.6z" fill="#bf4080"/>
        <path d="M256 733.44h-25.6V179.2c0-84.48 42.24-102.4 76.8-102.4h486.4c56.32 0 89.6 33.28 89.6 89.6s-33.28 89.6-89.6 89.6h-26.88v-25.6H793.6c42.24 0 64-21.76 64-64s-21.76-64-64-64H307.2c-21.76 0-51.2 7.68-51.2 76.8v554.24z" fill="#231C1C"/>
        <path d="M704 908.8H217.6c-69.12 0-76.8-51.2-76.8-89.6s7.68-89.6 76.8-89.6l472.32 1.28v25.6c-35.84 0-49.92 17.92-49.92 62.72 0 44.8 15.36 64 51.2 64h12.8c21.76 0 51.2-7.68 51.2-76.8V163.84c-1.28-6.4-3.84-38.4 16.64-62.72 12.8-15.36 33.28-23.04 58.88-23.04v25.6c-17.92 0-30.72 5.12-39.68 14.08-14.08 16.64-10.24 42.24-10.24 42.24V806.4c0 84.48-42.24 102.4-76.8 102.4zM217.6 755.2c-38.4 0-51.2 16.64-51.2 64s12.8 64 51.2 64h414.72c-10.24-14.08-17.92-34.56-17.92-64 0-26.88 5.12-48.64 16.64-62.72L217.6 755.2z" fill="#231C1C"/>
        <path d="M412.16 610.56L316.16 499.2l96-111.36 20.48 17.92-83.2 93.44 83.2 93.44z" fill="#231C1C"/>
        <path d="M586.24 610.56l-20.48-17.92 83.2-93.44-83.2-93.44 20.48-17.92 96 111.36z" fill="#231C1C"/>
        <path d="M449.7152 610.3296l76.9408-230.7072 24.2816 8.1024-76.9408 230.6944z" fill="#231C1C"/>
        </g>
        </svg>
    </div>

    <div>
      <div class='tour__title'>
        <h2>Código</h2>
      </div>
      <p class='tour__description'>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum placeat
        sed doloribus odit facilis. Possimus.
      </p>
    </div>
  </article>

  <article class='tour container'>
    <div>
      <svg width="40px" height="50px" viewBox="0 0 1024 1024" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="#000000">
        <g id="SVGRepo_bgCarrier" stroke-width="0"/>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
        <g id="SVGRepo_iconCarrier">
        <path d="M819.2 883.2c0 14.08-11.52 25.6-25.6 25.6H230.4c-14.08 0-25.6-11.52-25.6-25.6V140.8c0-14.08 11.52-25.6 25.6-25.6h563.2c14.08 0 25.6 11.52 25.6 25.6v742.4z" fill="#bf4080"/>
        <path d="M793.6 921.6H230.4c-21.76 0-38.4-16.64-38.4-38.4V140.8c0-21.76 16.64-38.4 38.4-38.4h563.2c21.76 0 38.4 16.64 38.4 38.4v742.4c0 21.76-16.64 38.4-38.4 38.4zM230.4 128c-7.68 0-12.8 5.12-12.8 12.8v742.4c0 7.68 5.12 12.8 12.8 12.8h563.2c7.68 0 12.8-5.12 12.8-12.8V140.8c0-7.68-5.12-12.8-12.8-12.8H230.4z" fill="#231C1C"/>
        <path d="M716.8 448c0 14.08-11.52 25.6-25.6 25.6H332.8c-14.08 0-25.6-11.52-25.6-25.6V217.6c0-14.08 11.52-25.6 25.6-25.6h358.4c14.08 0 25.6 11.52 25.6 25.6v230.4z" fill="#F2E5CA"/>
        <path d="M691.2 486.4H332.8c-21.76 0-38.4-16.64-38.4-38.4V217.6c0-21.76 16.64-38.4 38.4-38.4h358.4c21.76 0 38.4 16.64 38.4 38.4v230.4c0 21.76-16.64 38.4-38.4 38.4zM332.8 204.8c-7.68 0-12.8 5.12-12.8 12.8v230.4c0 7.68 5.12 12.8 12.8 12.8h358.4c7.68 0 12.8-5.12 12.8-12.8V217.6c0-7.68-5.12-12.8-12.8-12.8H332.8z" fill="#231C1C"/>
        <path d="M716.8 806.4c0 14.08-11.52 25.6-25.6 25.6H332.8c-14.08 0-25.6-11.52-25.6-25.6V576c0-14.08 11.52-25.6 25.6-25.6h358.4c14.08 0 25.6 11.52 25.6 25.6v230.4z" fill="#F2E5CA"/>
        <path d="M691.2 844.8H332.8c-21.76 0-38.4-16.64-38.4-38.4V576c0-21.76 16.64-38.4 38.4-38.4h358.4c21.76 0 38.4 16.64 38.4 38.4v230.4c0 21.76-16.64 38.4-38.4 38.4zM332.8 563.2c-7.68 0-12.8 5.12-12.8 12.8v230.4c0 7.68 5.12 12.8 12.8 12.8h358.4c7.68 0 12.8-5.12 12.8-12.8V576c0-7.68-5.12-12.8-12.8-12.8H332.8zM243.2 153.6h25.6v76.8h-25.6zM243.2 281.6h25.6v76.8h-25.6zM243.2 409.6h25.6v76.8h-25.6zM243.2 537.6h25.6v76.8h-25.6zM243.2 665.6h25.6v76.8h-25.6zM243.2 793.6h25.6v76.8h-25.6zM755.2 153.6h25.6v76.8h-25.6zM755.2 281.6h25.6v76.8h-25.6zM755.2 409.6h25.6v76.8h-25.6z" fill="#231C1C"/>
        <path d="M755.2 537.6h25.6v76.8h-25.6z" fill="#231C1C"/>
        <path d="M755.2 665.6h25.6v76.8h-25.6z" fill="#231C1C"/>
        <path d="M755.2 793.6h25.6v76.8h-25.6z" fill="#231C1C"/>
        </g>
      </svg>
    </div>

    <div>
      <div class='tour__title'>
        <h2>Videos</h2>
      </div>
      <p class='tour__description'>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas ipsum
        tempore voluptatibus eligendi nobis numquam.
      </p>
    </div>
  </article>

  <article class='tour container'>
    <div>
      <svg width="40px" height="50px" viewBox="0 0 1024 1024" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="#000000">
        <g id="SVGRepo_bgCarrier" stroke-width="0"/>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
        <g id="SVGRepo_iconCarrier">
        <path d="M401.92 888.32L371.2 750.08l-130.56 57.6 175.36-348.16 161.28 80.64z" fill="#bf4080"/>
        <path d="M396.8 926.72L362.24 768l-148.48 66.56 197.12-392.96 184.32 92.16L396.8 926.72z m-16.64-194.56l26.88 119.04 153.6-305.92L422.4 476.16 268.8 782.08l111.36-49.92z" fill="#231C1C"/>
        <path d="M624.64 888.32l30.72-138.24 130.56 57.6-175.36-348.16-161.28 80.64z" fill="#bf4080"/>
        <path d="M629.76 926.72L432.64 533.76l184.32-92.16 197.12 392.96L665.6 768l-35.84 158.72zM467.2 545.28l153.6 305.92 26.88-119.04 111.36 49.92-153.6-305.92-138.24 69.12z" fill="#231C1C"/>
        <path d="M719.36 609.28l-96 11.52-70.4 65.28-84.48-46.08-96 11.52-40.96-88.32-84.48-47.36 19.2-94.72-40.96-87.04 70.4-66.56 19.2-94.72 96-11.52 70.4-66.56 84.48 47.36 96-11.52 40.96 88.32 84.48 47.36-19.2 94.72 40.96 87.04-70.4 66.56z" fill="#bf4080"/>
        <path d="M554.24 702.72l-89.6-49.92-101.12 12.8-42.24-92.16-89.6-49.92 19.2-99.84-42.24-92.16 74.24-69.12 19.2-99.84 101.12-12.8 74.24-69.12 89.6 49.92 101.12-12.8 42.24 92.16 89.6 49.92-17.92 98.56 42.24 92.16-74.24 69.12-19.2 99.84-101.12 12.8-75.52 70.4z m-83.2-76.8l79.36 44.8 66.56-62.72 90.88-11.52 17.92-89.6 66.56-62.72-38.4-83.2 17.92-89.6-80.64-44.8-38.4-83.2-89.6 12.8-80.64-44.8-66.56 62.72-90.88 11.52-17.92 89.6-66.56 62.72 38.4 83.2-17.92 89.6 80.64 44.8 38.4 83.2 90.88-12.8z" fill="#231C1C"/>
        <path d="M353.28 390.4a166.4 166.4 0 1 0 332.8 0 166.4 166.4 0 1 0-332.8 0Z" fill="#FAF1C7"/>
        <path d="M519.68 569.6c-98.56 0-179.2-80.64-179.2-179.2s80.64-179.2 179.2-179.2 179.2 80.64 179.2 179.2c-1.28 98.56-80.64 179.2-179.2 179.2z m0-332.8c-84.48 0-153.6 69.12-153.6 153.6s69.12 153.6 153.6 153.6 153.6-69.12 153.6-153.6c-1.28-84.48-69.12-153.6-153.6-153.6z" fill="#231C1C"/>
        </g>
        </svg>
    </div>
    <div>
      <div class='tour__title'>
        <h2>Cursos</h2>
      </div>
      <p class='tour__description'>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi nesciunt
        sapiente recusandae, at harum aspernatur.
      </p>
    </div>
  </article>
</section>

<style>
  * {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
  }
  .cards {
    display: grid;
    gap: 1rem;
  }

  .cards__title {
    margin-bottom: var(--section-padding);
    color: var(--gradient-5);
    font-size: var(--fontSize-3);
  }
  .container {
    max-width: var(--width-380);
    margin: auto;
    /* border: 1px solid gray; */
  }
  .tour {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius-8);
    background-color: var(--bg-oxford-blue);
    color: var(--gradient-5);
    padding: 1rem;
    gap: 20px;
    cursor: pointer;
  }

  .tour:hover {
    background-color: var( --bg-prussian-blue);
  }

  .tour__title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--hover-link);
  }

  .tour__description {
    color: var(--gradient-6);
    margin-top: 1rem;
    line-height: var(--lineHeight-1);
  }

  @media screen and (min-width: 575px) {
    .container {
      max-width: var(--width-575);
    }
  }

  @media screen and (min-width: 768px) {
    .container {
      max-width: var(--width-768);
    }
    .cards {
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: auto;
    }
    .cards__title {
      grid-column: span 2;
    }
  
  }

  @media screen and (min-width: 1200px) {
    .container {
      max-width: var(--width-1200);
    }
    .cards {
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: auto;
    }
    .cards__title {
      grid-column: span 3;
      color: var(--gradient-5);
    }
  }
</style>
