---
import "../../css/variables.module.css";
---

<div class='wrapper'>
  <button class='prev'>&larr;</button>
  <div class='carrousel'>
    <article class='project__container card'>
      <div class='project__image'>
        <img
          src='https://cdn.pixabay.com/photo/2017/08/01/11/38/sea-2564601_640.jpg'
          alt='project-1'
        />
      </div>
      <div class='project__stack'>
        <svg viewBox='0 0 128 128' width='30px' height='30px'>
          <path
            fill='#E44D26'
            d='M9.032 2l10.005 112.093 44.896 12.401 45.02-12.387L118.968 2H9.032zm89.126 26.539l-.627 7.172L97.255 39H44.59l1.257 14h50.156l-.336 3.471-3.233 36.119-.238 2.27L64 102.609v.002l-.034.018-28.177-7.423L33.876 74h13.815l.979 10.919L63.957 89H64v-.546l15.355-3.875L80.959 67H33.261l-3.383-38.117L29.549 25h68.939l-.33 3.539z'
          ></path>
        </svg>

        <svg viewBox='0 0 128 128' width='30px' height='30px'>
          <path
            fill='#1572B6'
            d='M8.76 1l10.055 112.883 45.118 12.58 45.244-12.626L119.24 1H8.76zm89.591 25.862l-3.347 37.605.01.203-.014.467v-.004l-2.378 26.294-.262 2.336L64 101.607v.001l-.022.019-28.311-7.888L33.75 72h13.883l.985 11.054 15.386 4.17-.004.008v-.002l15.443-4.229L81.075 65H48.792l-.277-3.043-.631-7.129L47.553 51h34.749l1.264-14H30.64l-.277-3.041-.63-7.131L29.401 23h69.281l-.331 3.862z'
          ></path>
        </svg>

        <svg viewBox='0 0 128 128' width='30px' height='30px'>
          <path fill='#F0DB4F' d='M1.408 1.408h125.184v125.185H1.408z'
          ></path><path
            fill='#323330'
            d='M116.347 96.736c-.917-5.711-4.641-10.508-15.672-14.981-3.832-1.761-8.104-3.022-9.377-5.926-.452-1.69-.512-2.642-.226-3.665.821-3.32 4.784-4.355 7.925-3.403 2.023.678 3.938 2.237 5.093 4.724 5.402-3.498 5.391-3.475 9.163-5.879-1.381-2.141-2.118-3.129-3.022-4.045-3.249-3.629-7.676-5.498-14.756-5.355l-3.688.477c-3.534.893-6.902 2.748-8.877 5.235-5.926 6.724-4.236 18.492 2.975 23.335 7.104 5.332 17.54 6.545 18.873 11.531 1.297 6.104-4.486 8.08-10.234 7.378-4.236-.881-6.592-3.034-9.139-6.949-4.688 2.713-4.688 2.713-9.508 5.485 1.143 2.499 2.344 3.63 4.26 5.795 9.068 9.198 31.76 8.746 35.83-5.176.165-.478 1.261-3.666.38-8.581zM69.462 58.943H57.753l-.048 30.272c0 6.438.333 12.34-.714 14.149-1.713 3.558-6.152 3.117-8.175 2.427-2.059-1.012-3.106-2.451-4.319-4.485-.333-.584-.583-1.036-.667-1.071l-9.52 5.83c1.583 3.249 3.915 6.069 6.902 7.901 4.462 2.678 10.459 3.499 16.731 2.059 4.082-1.189 7.604-3.652 9.448-7.401 2.666-4.915 2.094-10.864 2.07-17.444.06-10.735.001-21.468.001-32.237z'
          ></path>
        </svg>
      </div>
      <div>
        <h4 class='project__title'>Project-1</h4>
        <p class='project__description'>
          Lorem, ipsum dolor sit amet consectetur adipisicing.
        </p>
      </div>
      <div class='project__links'>
        <a href=''></a>
        <a href=''></a>
      </div>
    </article>

    <article class='project__container card'>
      <div class='project__image'>
        <img
          src='https://cdn.pixabay.com/photo/2023/11/16/22/35/church-8393259_640.jpg'
          alt='project-2'
        />
      </div>
      <div class='project__stack'>
        <svg viewBox='0 0 128 128' width='30px' height='30px'>
          <path
            fill='#E44D26'
            d='M9.032 2l10.005 112.093 44.896 12.401 45.02-12.387L118.968 2H9.032zm89.126 26.539l-.627 7.172L97.255 39H44.59l1.257 14h50.156l-.336 3.471-3.233 36.119-.238 2.27L64 102.609v.002l-.034.018-28.177-7.423L33.876 74h13.815l.979 10.919L63.957 89H64v-.546l15.355-3.875L80.959 67H33.261l-3.383-38.117L29.549 25h68.939l-.33 3.539z'
          ></path>
        </svg>

        <svg viewBox='0 0 128 128' width='30px' height='30px'>
          <path
            fill='#1572B6'
            d='M8.76 1l10.055 112.883 45.118 12.58 45.244-12.626L119.24 1H8.76zm89.591 25.862l-3.347 37.605.01.203-.014.467v-.004l-2.378 26.294-.262 2.336L64 101.607v.001l-.022.019-28.311-7.888L33.75 72h13.883l.985 11.054 15.386 4.17-.004.008v-.002l15.443-4.229L81.075 65H48.792l-.277-3.043-.631-7.129L47.553 51h34.749l1.264-14H30.64l-.277-3.041-.63-7.131L29.401 23h69.281l-.331 3.862z'
          ></path>
        </svg>

        <svg viewBox='0 0 128 128' width='30px' height='30px'>
          <path fill='#F0DB4F' d='M1.408 1.408h125.184v125.185H1.408z'
          ></path><path
            fill='#323330'
            d='M116.347 96.736c-.917-5.711-4.641-10.508-15.672-14.981-3.832-1.761-8.104-3.022-9.377-5.926-.452-1.69-.512-2.642-.226-3.665.821-3.32 4.784-4.355 7.925-3.403 2.023.678 3.938 2.237 5.093 4.724 5.402-3.498 5.391-3.475 9.163-5.879-1.381-2.141-2.118-3.129-3.022-4.045-3.249-3.629-7.676-5.498-14.756-5.355l-3.688.477c-3.534.893-6.902 2.748-8.877 5.235-5.926 6.724-4.236 18.492 2.975 23.335 7.104 5.332 17.54 6.545 18.873 11.531 1.297 6.104-4.486 8.08-10.234 7.378-4.236-.881-6.592-3.034-9.139-6.949-4.688 2.713-4.688 2.713-9.508 5.485 1.143 2.499 2.344 3.63 4.26 5.795 9.068 9.198 31.76 8.746 35.83-5.176.165-.478 1.261-3.666.38-8.581zM69.462 58.943H57.753l-.048 30.272c0 6.438.333 12.34-.714 14.149-1.713 3.558-6.152 3.117-8.175 2.427-2.059-1.012-3.106-2.451-4.319-4.485-.333-.584-.583-1.036-.667-1.071l-9.52 5.83c1.583 3.249 3.915 6.069 6.902 7.901 4.462 2.678 10.459 3.499 16.731 2.059 4.082-1.189 7.604-3.652 9.448-7.401 2.666-4.915 2.094-10.864 2.07-17.444.06-10.735.001-21.468.001-32.237z'
          ></path>
        </svg>
      </div>
      <div>
        <h4 class='project__title'>Project-2</h4>
        <p class='project__description'>
          Lorem, ipsum dolor sit amet consectetur adipisicing.
        </p>
      </div>
      <div class='project__links'>
        <a href=''></a>
        <a href=''></a>
      </div>
    </article>

    <article class='project__container card'>
      <div class='project__image'>
        <img
          src='https://cdn.pixabay.com/photo/2024/06/17/23/30/trees-8836655_640.jpg'
          alt='project-3'
        />
      </div>
      <div class='project__stack'>
        <svg viewBox='0 0 128 128' width='30px' height='30px'>
          <path
            fill='#E44D26'
            d='M9.032 2l10.005 112.093 44.896 12.401 45.02-12.387L118.968 2H9.032zm89.126 26.539l-.627 7.172L97.255 39H44.59l1.257 14h50.156l-.336 3.471-3.233 36.119-.238 2.27L64 102.609v.002l-.034.018-28.177-7.423L33.876 74h13.815l.979 10.919L63.957 89H64v-.546l15.355-3.875L80.959 67H33.261l-3.383-38.117L29.549 25h68.939l-.33 3.539z'
          ></path>
        </svg>

        <svg viewBox='0 0 128 128' width='30px' height='30px'>
          <path
            fill='#1572B6'
            d='M8.76 1l10.055 112.883 45.118 12.58 45.244-12.626L119.24 1H8.76zm89.591 25.862l-3.347 37.605.01.203-.014.467v-.004l-2.378 26.294-.262 2.336L64 101.607v.001l-.022.019-28.311-7.888L33.75 72h13.883l.985 11.054 15.386 4.17-.004.008v-.002l15.443-4.229L81.075 65H48.792l-.277-3.043-.631-7.129L47.553 51h34.749l1.264-14H30.64l-.277-3.041-.63-7.131L29.401 23h69.281l-.331 3.862z'
          ></path>
        </svg>

        <svg viewBox='0 0 128 128' width='30px' height='30px'>
          <path fill='#F0DB4F' d='M1.408 1.408h125.184v125.185H1.408z'
          ></path><path
            fill='#323330'
            d='M116.347 96.736c-.917-5.711-4.641-10.508-15.672-14.981-3.832-1.761-8.104-3.022-9.377-5.926-.452-1.69-.512-2.642-.226-3.665.821-3.32 4.784-4.355 7.925-3.403 2.023.678 3.938 2.237 5.093 4.724 5.402-3.498 5.391-3.475 9.163-5.879-1.381-2.141-2.118-3.129-3.022-4.045-3.249-3.629-7.676-5.498-14.756-5.355l-3.688.477c-3.534.893-6.902 2.748-8.877 5.235-5.926 6.724-4.236 18.492 2.975 23.335 7.104 5.332 17.54 6.545 18.873 11.531 1.297 6.104-4.486 8.08-10.234 7.378-4.236-.881-6.592-3.034-9.139-6.949-4.688 2.713-4.688 2.713-9.508 5.485 1.143 2.499 2.344 3.63 4.26 5.795 9.068 9.198 31.76 8.746 35.83-5.176.165-.478 1.261-3.666.38-8.581zM69.462 58.943H57.753l-.048 30.272c0 6.438.333 12.34-.714 14.149-1.713 3.558-6.152 3.117-8.175 2.427-2.059-1.012-3.106-2.451-4.319-4.485-.333-.584-.583-1.036-.667-1.071l-9.52 5.83c1.583 3.249 3.915 6.069 6.902 7.901 4.462 2.678 10.459 3.499 16.731 2.059 4.082-1.189 7.604-3.652 9.448-7.401 2.666-4.915 2.094-10.864 2.07-17.444.06-10.735.001-21.468.001-32.237z'
          ></path>
        </svg>
      </div>
      <div>
        <h4 class='project__title'>Project-3</h4>
        <p class='project__description'>
          Lorem, ipsum dolor sit amet consectetur adipisicing.
        </p>
      </div>
      <div class='project__links'>
        <a href=''></a>
        <a href=''></a>
      </div>
    </article>

    <article class='project__container card'>
      <div class='project__image'>
        <img
          src='https://cdn.pixabay.com/photo/2024/06/29/06/30/forest-8860740_640.png'
          alt='project-4s'
        />
      </div>
      <div class='project__stack'>
        <svg viewBox='0 0 128 128' width='30px' height='30px'>
          <path
            fill='#E44D26'
            d='M9.032 2l10.005 112.093 44.896 12.401 45.02-12.387L118.968 2H9.032zm89.126 26.539l-.627 7.172L97.255 39H44.59l1.257 14h50.156l-.336 3.471-3.233 36.119-.238 2.27L64 102.609v.002l-.034.018-28.177-7.423L33.876 74h13.815l.979 10.919L63.957 89H64v-.546l15.355-3.875L80.959 67H33.261l-3.383-38.117L29.549 25h68.939l-.33 3.539z'
          ></path>
        </svg>

        <svg viewBox='0 0 128 128' width='30px' height='30px'>
          <path
            fill='#1572B6'
            d='M8.76 1l10.055 112.883 45.118 12.58 45.244-12.626L119.24 1H8.76zm89.591 25.862l-3.347 37.605.01.203-.014.467v-.004l-2.378 26.294-.262 2.336L64 101.607v.001l-.022.019-28.311-7.888L33.75 72h13.883l.985 11.054 15.386 4.17-.004.008v-.002l15.443-4.229L81.075 65H48.792l-.277-3.043-.631-7.129L47.553 51h34.749l1.264-14H30.64l-.277-3.041-.63-7.131L29.401 23h69.281l-.331 3.862z'
          ></path>
        </svg>

        <svg viewBox='0 0 128 128' width='30px' height='30px'>
          <path fill='#F0DB4F' d='M1.408 1.408h125.184v125.185H1.408z'
          ></path><path
            fill='#323330'
            d='M116.347 96.736c-.917-5.711-4.641-10.508-15.672-14.981-3.832-1.761-8.104-3.022-9.377-5.926-.452-1.69-.512-2.642-.226-3.665.821-3.32 4.784-4.355 7.925-3.403 2.023.678 3.938 2.237 5.093 4.724 5.402-3.498 5.391-3.475 9.163-5.879-1.381-2.141-2.118-3.129-3.022-4.045-3.249-3.629-7.676-5.498-14.756-5.355l-3.688.477c-3.534.893-6.902 2.748-8.877 5.235-5.926 6.724-4.236 18.492 2.975 23.335 7.104 5.332 17.54 6.545 18.873 11.531 1.297 6.104-4.486 8.08-10.234 7.378-4.236-.881-6.592-3.034-9.139-6.949-4.688 2.713-4.688 2.713-9.508 5.485 1.143 2.499 2.344 3.63 4.26 5.795 9.068 9.198 31.76 8.746 35.83-5.176.165-.478 1.261-3.666.38-8.581zM69.462 58.943H57.753l-.048 30.272c0 6.438.333 12.34-.714 14.149-1.713 3.558-6.152 3.117-8.175 2.427-2.059-1.012-3.106-2.451-4.319-4.485-.333-.584-.583-1.036-.667-1.071l-9.52 5.83c1.583 3.249 3.915 6.069 6.902 7.901 4.462 2.678 10.459 3.499 16.731 2.059 4.082-1.189 7.604-3.652 9.448-7.401 2.666-4.915 2.094-10.864 2.07-17.444.06-10.735.001-21.468.001-32.237z'
          ></path>
        </svg>
      </div>
      <div>
        <h4 class='project__title'>Project-4</h4>
        <p class='project__description'>
          Lorem, ipsum dolor sit amet consectetur adipisicing.
        </p>
      </div>
      <div class='project__links'>
        <a href=''></a>
        <a href=''></a>
      </div>
    </article>
  </div>
  <button class='next'>&rarr;</button>
</div>

<style>
  .container {
    /*   border: 1px solid gray; */
    max-width: var(--width-380);
    margin: var(--section-padding) auto;
    position: relative;
    overflow: hidden;
  }


  .carrousel {
    position: relative;
    display: flex;
    transition: transform 0.3s ease;
    will-change: transform;
  }

  .project__container {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--bg-prussian-blue);
    border-radius: var(--radius-8);
    padding: 15px;
    background-color: var(--bg-oxford-blue);
    flex-shrink: 0; /* Impide que las tarjetas se encojan */
    width: calc(50% - 10px); /* 2 tarjetas visibles al mismo tiempo */
    box-sizing: border-box;
    margin-right: 10px; /* Espacio entre tarjetas */
  }

  .project__image {
    display: flex;
    max-width: 360px;
    max-height: 240px;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }

  .project__image img {
    width: 90%;
    height: 100%;
    border-radius: var(--radius-8);
  }

  .project__title {
    font-size: var(--fontSize-9);
    color: var(--text-columbia-blue);
  }

  .project__description {
    font-size: var(--fontSize-9);
    color: var(--text-wild-blue-yonder);
    line-height: var(--lineHeight-2);
  }

  /* Estilo para los botones de navegación */
  button.prev,
  button.next {
    position: absolute;
    top: 50%;
    transform: translateY(150%);
    background-color: var(--bg-prussian-blue);
    color: var(--text-columbia-blue);
    border: none;
    padding: 20px;
    cursor: pointer;
    z-index: 10000; /* Asegúrate de que los botones estén encima del carrusel */
    border-radius: 50%;
  }

  button.prev {
    
    left: 10px;
  }

  button.next {
   
    right: 10px;
  }

  @media screen and (min-width: 575px) {
    .container {
      max-width: var(--width-575);
    }
  }

  @media screen and (min-width: 768px) {
    :root {
      --fontSize-10: 3.2rem;
      --fontSize-9: 1.2rem;
      --fontSize-3: 2rem;
    }

    .container {
      max-width: var(--width-768);
    }
    .project__container {
      width: calc(
        50% - 10px
      ); /* 2 tarjetas visibles al mismo tiempo con margen */
    }
  }

  @media screen and (min-width: 1200px) {
    .container {
      max-width: var(--width-1200);
    }
    .project__container {
      width: calc(
        50% - 10px
      ); /* Ajuste para pantallas más grandes si es necesario */
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const slider = document.querySelector(".carrousel") as HTMLElement;
    if (!slider) return;

    const projects = slider.querySelectorAll(
      ".project__container"
    ) as NodeListOf<HTMLElement>;
    const totalProjects = projects.length;
    const prevButton = document.querySelector(".prev") as HTMLButtonElement;
    const nextButton = document.querySelector(".next") as HTMLButtonElement;

    let currentIndex = 0;

    function showProject(index: number) {
      const projectWidth = projects[0].offsetWidth + 20; // Assumes 20px margin/padding between projects
      slider.style.transform = `translateX(-${index * projectWidth}px)`;
      updateButtonState(index);
    }

    function updateButtonState(index: number) {
      prevButton.style.display = index === 0 ? "none" : "block";
      nextButton.style.display = index >= totalProjects - 2 ? "none" : "block";
    }

    function nextProject() {
      if (currentIndex < totalProjects - 2) {
        currentIndex++;
        showProject(currentIndex);
      }
    }

    function prevProject() {
      if (currentIndex > 0) {
        currentIndex--;
        showProject(currentIndex);
      }
    }

    prevButton!.addEventListener("click", prevProject);
    nextButton!.addEventListener("click", nextProject);

    showProject(currentIndex);
  });
</script>
