---
import "../../css/variables.module.css";
---

<script>
  const showMenu = (toggleId: string, navId: string) => {
    const toggle = document.getElementById(toggleId),
      nav = document.getElementById(navId);
    if (toggle && nav) {
      toggle.addEventListener("click", () => {
        // Add show-menu class to nav menu
        nav.classList.toggle("show-menu");

        // Add show-icon to show and hide the menu icon
        toggle.classList.toggle("show-icon");
      });
    }
  };
  showMenu("nav-toggle", "nav-menu");
</script>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

  /*=============== BASE ============================*/
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  body {
    font-family: Rubik;
    background-color: var(--bg-oxford-blue-2);
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  /*=============== REUSABLE CSS CLASSES ===============*/

  .container {
    max-width: var(--width-1200);
    margin-inline: 1.5rem;
   /*  border: 1px solid gray; */
  }

  /*======================== HEADER =====================*/

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-oxford-blue-2);
    box-shadow: var(--shadow-1);
    z-index: 100;
  }

  /*========================= NAV =======================*/

  .nav {
    height: 80px;
  }

  .nav__burger,
  .nav__close {
    color: var(--hover-link);
  }

  .nav__data {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav__logo {
    display: inline-flex;
    align-items: center;
    column-gap: 0.25rem;
    font-weight: var(--weight-extraBold);
    color: var(--hover-link);
    font-size: var(--fontSize-4);
  }

  .nav__logo img {
    width: 38px;
  }

  .nav__logo:hover {
    color: var(--hover-link);
  }

  .nav__logo i {
    font-weight: initial;
    font-size: var(--fontSize-6);
  }

  .nav__toggle {
    position: relative;
    width: 32px;
    height: 32px;
  }

  .nav__burger,
  .nav__close {
    position: absolute;
    width: max-content;
    height: max-content;
    inset: 0;
    margin: auto;
    font-size: var(--fontSize-6);
    cursor: pointer;
    transition:
      opacity 0.1s,
      transform 0.4s;
  }

  .nav__close {
    opacity: 0;
  }

  @media screen and (max-width: 1118px) {
    .nav {
      height: 80px;
    }
    .nav__menu {
      position: absolute;
      left: 0;
      top: 2.5rem;
      width: 100%;
      height: calc(100vh - 3.5rem);
      overflow: auto;
      pointer-events: none;
      opacity: 0;
      transition:
        top 0.4s,
        opacity 0.3s;
    }

    .nav__menu::-webkit-scrollbar {
      width: 0;
    }

    .nav__list {
      background-color: var(--bg-oxford-blue);
      padding-top: 1rem;
    }
  }

  .nav__link {
    color: var(--hover-link);
    background-color: var(--black-color);
    font-weight: var(--font-semi-bold);
    padding: 1.25rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
  }

  .nav__link:hover {
    color: var(--hover-link);
  }

  /* Show menu */
  .show-menu {
    opacity: 1;
    top: 3.6rem;
    pointer-events: initial;
  }

  /* Show icon */
  .show-icon .nav__burger {
    opacity: 0;
    transform: rotate(90deg);
  }

  .show-icon .nav__close {
    opacity: 1;
    transform: rotate(90deg);
  }

  /*=============== BREAKPOINTS ===============*/

  /* For small devices */
  @media screen and (max-width: 340px) {
    .container {
      margin-inline: 1rem;
    }

    .nav__link {
      padding-inline: 1rem;
    }
  }

  /* For large devices */
  @media screen and (min-width: 1118px) {
    .container {
      margin-inline: auto;
      /* border: 1px solid gray; */
    }

    .nav {
      display: flex;
      justify-content: space-between;
    }

    .nav__toggle {
      display: none;
    }

    .nav__list {
      height: 100%;
      display: flex;
      column-gap: 3rem;
    }

    .nav__link {
      height: 100%;
      padding: 0;
      justify-content: initial;
      column-gap: 0.25rem;
    }

    .nav__link:hover {
      background-color: transparent;
    }
  }
</style>

<!--=============== HEADER ===============-->
<header class='header'>
  <nav class='nav container'>
    <div class='nav__data'>
      <a href='#' class='nav__logo'>
        <!--         <img src="https://cdn.icon-icons.com/icons2/1465/PNG/512/554doughnut1_100951.png" alt=""> -->
        <svg
          width='36px'
          height='36px'
          viewBox='0 0 1024 1024'
          class='icon'
          version='1.1'
          xmlns='http://www.w3.org/2000/svg'
          fill='#000000'>
          <g id='SVGRepo_bgCarrier' stroke-width='0'></g>
          <g
            id='SVGRepo_tracerCarrier'
            stroke-linecap='round'
            stroke-linejoin='round'></g>
          <g id='SVGRepo_iconCarrier'>
            <path
              d='M505.896782 47.767381c-261.274168 0-473.087577 211.813409-473.087576 473.087577s211.813409 473.087577 473.087576 473.087576 473.087577-211.813409 473.087577-473.087576S767.17095 47.767381 505.896782 47.767381z m0 654.84352c-106.400606 0-192.621787-86.221181-192.621787-192.621788s86.221181-192.621787 192.621787-192.621787 192.621787 86.221181 192.621788 192.621787-86.291738 192.621787-192.621788 192.621788z'
              fill='#fffacf'></path>
            <path
              d='M505.896782 47.767381c-261.274168 0-473.087577 211.813409-473.087576 473.087577 0 58.633225 10.72473 114.655826 30.19858 166.44498 18.274375-20.391098 45.721215-50.730793 50.307449-54.046992 6.985186-5.080135 34.996486-36.901537 53.411975 20.955557 7.620203 16.510439 31.186385 89.043478 85.233377 27.376283 9.525253-8.890236 50.871908-38.806587 53.411976 41.346655 0 52.141942 16.510439 113.17412 34.361469 120.159305s41.981672 12.700338 49.601874-47.696823c5.715152-16.510439 38.17157-81.423276 79.518225 9.525253 19.685523 53.411975 35.631503 136.740302 79.518225 136.740302s91.583546-167.856129 105.553917-196.502446c15.240405-24.130641 50.236891-59.127127 96.028664-6.350169 26.10625 25.400675 59.127127 54.682009 61.667195-28.0113 2.540068-82.693309 6.350169-89.678495 8.255219-96.028664 1.905051-6.350169 31.186385-54.682009 80.153242 17.780472 12.770895 21.520017 33.585337 82.340522 58.915455 24.906774 13.053125-43.322263 20.179425-89.184593 20.179426-136.740302-0.141115-261.133053-211.954524-472.946462-473.228692-472.946462z m0 654.84352c-106.400606 0-192.621787-86.221181-192.621787-192.621788s86.221181-192.621787 192.621787-192.621787 192.621787 86.221181 192.621788 192.621787-86.291738 192.621787-192.621788 192.621788z'
              fill='#bf4080'></path>
            <path
              d='M687.017708 244.763729m-21.026114 0a21.026115 21.026115 0 1 0 42.052229 0 21.026115 21.026115 0 1 0-42.052229 0Z'
              fill='#EBA824'></path>
            <path
              d='M830.319851 295.423965m-20.249983 0a20.249983 20.249983 0 1 0 40.499966 0 20.249983 20.249983 0 1 0-40.499966 0Z'
              fill='#EBA824'></path>
            <path
              d='M487.975195 147.253359m-38.101013 0a38.101013 38.101013 0 1 0 76.202026 0 38.101013 38.101013 0 1 0-76.202026 0Z'
              fill='#3D7C38'></path>
            <path
              d='M339.592917 270.093847m-25.330118 0a25.330118 25.330118 0 1 0 50.660236 0 25.330118 25.330118 0 1 0-50.660236 0Z'
              fill='#FFFCF4'></path>
            <path
              d='M134.200234 490.515262m-47.273479 0a47.273479 47.273479 0 1 0 94.546958 0 47.273479 47.273479 0 1 0-94.546958 0Z'
              fill='#FDFDEC'></path>
            <path
              d='M899.677806 490.515262m-47.273479 0a47.273479 47.273479 0 1 0 94.546958 0 47.273479 47.273479 0 1 0-94.546958 0Z'
              fill='#F5ECDA'></path>
            <path
              d='M181.755943 317.367326s65.688969 4.021774 73.520843 53.059188c-20.955557 3.245642-61.667195 5.997382-73.520843-53.059188zM792.007166 495.736512s-3.951216 44.380624-37.254324 48.825743c-1.834493-14.252601-2.963412-41.911114 37.254324-48.825743z'
              fill='#3D7C38'></path>
          </g>
        </svg>
        Moyi
      </a>

      <div class='nav__toggle' id='nav-toggle'>
        <i class='ri-menu-line nav__burger'></i>
        <i class='ri-close-line nav__close'></i>
      </div>
    </div>

    <!-- Nav menu -->
    <div class='nav__menu' id='nav-menu'>
      <ul class='nav__list'>
        <li><a href='#' class='nav__link'>Home</a></li>
        <li><a href='#' class='nav__link'>Blog</a></li>
        <li><a href='#' class='nav__link'>Contact</a></li>
      </ul>
    </div>
  </nav>
</header>
