:root {
  /** Background colors */
  --bg-wild-blue-yonder: #92a8c8;
  --bg-carolina-blue: #0ea6ec;
  --bg-prussian-blue: #223044;
  --bg-oxford-blue: #131b30;
  --bg-oxford-blue-2: #0f1729;
  --bg-oxford-blue-3: #0a111f;

  /** Text colors */
  --text-white: hsla(0, 0%, 100%, 1);
  --text-alice-blue: hsla(216, 100%, 95%, 1);
  --text-columbia-blue: #bae1f2;
  --text-wild-blue-yonder: #92a8c8;
  --text-carolina-blue: #0ea6ec;
  --text-shadow-blue: hsla(217, 24%, 59%, 1);
  --text-slate-gray: hsla(217, 17%, 48%, 1);
  --text-logo: #0fa5eb;

  /** Gradient colors */
  --gradient-1: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%);
  --gradient-2: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%, #0ea5ea);
  --gradient-3: linear-gradient(0deg, #000d1a, transparent);

  /** Border colors */
  --border-wild-blue-yonder: #92a8c8;
  --border-prussian-blue: hsla(216, 33%, 20%, 1);
  --border-white: hsl(0, 0%, 100%);
  --border-white-alpha-15: #ffffff2c;
  --border-white-alpha-16: #242627;
  --border-white-alpha-17: #303233;

  /** Default colors */
  --white: hsl(0, 0%, 100%, 1);
  --black: hsl(0, 0%, 0%, 1);

  /*=============================================
  =                   container                 =
  =============================================*/

  --width-380: 360px;
  --width-575: 540px;
  --width-768: 720px;
  --width-992: 930px;
  --width-1200: 1140px;

  /*=============================================
  =                   hover Link                =
  =============================================*/

  /*=============================================
  =                Typography                   =
  =============================================*/

  /** Font family */
  --fontFamily-noto_sans: "Noto Sans", sans-serif;

  /** Font size */
  --fontSize-1: 4.3rem;
  --fontSize-2: 2.8rem;
  --fontSize-3: 1.8rem;
  --fontSize-4: 1.6rem;
  --fontSize-5: 1.7rem;
  --fontSize-6: 1.4rem;
  --fontSize-7: 1.2rem;
  --fontSize-8: 1.3rem;
  --fontSize-9: 1.1rem;
  --fontSize-10: 2.5rem;

  --fontSize-logo: 3rem;

  /** Font weight */
  --weight-medium: 500;
  --weight-semiBold: 600;
  --weight-bold: 700;
  --weight-extraBold: 800;

  /** Line height */
  --lineHeight-1: 1.3;
  --lineHeight-2: 1.5;
  --lineHeight-3: 1.7;

  /*=============================================
  =                   box-shadow                =
  =============================================*/

  --shadow-1: 0 8px 20px 0 hsla(0, 0%, 0%, 0.05);
  --shadow-2: 0px 3px 20px hsla(180, 90%, 43%, 0.2);

  /*=============================================
  =                border-radius                  =
  =============================================*/

  --radius-6: 6px;
  --radius-8: 8px;
  --radius-16: 16px;
  --radius-48: 48px;
  --radius-circle: 50%;
  --radius-pill: 200px;

  /*=============================================
  =                   Spacing                   =
  =============================================*/

  --section-padding: 90px;

  /*=============================================
  =                   transition                =
  =============================================*/

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);
}
